%ol.breadcrumb
  %li Users
  %li.active= user.name

#user-panel.panel.panel-default
  .panel-heading
    %h3.panel-title= user.name

  .panel-body
    %h4 Last reviews
    .user-reviews
      - user.last_reviews.each do |review|
        = render partial: 'review', locals: { review: ReviewDecorator.new(review) }

      - if user.last_reviews.empty?
        .alert.alert-warning.empty-warning
          - if current_user == user
            You have not reviewed any product yet.
          - else
            This user has not reviewed any product yet.