
#user-panel {

  .media {
    .media-body {
      width: 100%;

      .user-name {
        border-bottom: 1px solid #bebebe;
        margin-bottom: 10px;
      }
    }
  }

  .reviews-container {
    margin-top: 20px;
  }

}

